:deep(.pt-table .table-row) {
    // background-color: transparent;
    color: #ffffff;
    border-bottom: none;
    text-align: center;
  }
  :deep(.pt-table .el-table) {
    background-color: transparent;
  }
  :deep(.pt-table .el-table tr) {
    background: linear-gradient(
      90deg,
      rgba(49, 125, 170, 1),
      rgba(49, 125, 170, 0)
    );
  }
  :deep(.pt-table .el-table th.el-table__cell) {
    background-color: transparent;
    margin-bottom: 2px;
    border-bottom: 1px #000 solid;
    padding: 14px 0;
  }
  :deep(.pt-table .el-table .el-table__cell) {
    padding: 14px 0;
  }
  
  :deep(.pt-table .table-row:hover) {
    background: linear-gradient(90deg, rgb(21, 85, 121), rgba(21, 85, 121, 0));
    color: #ffffff;
    border-bottom: none;
  }
  :deep(.pt-table .table-row:hover > td.el-table__cell) {
    background: linear-gradient(90deg, rgb(21, 85, 121), rgba(21, 85, 121, 0));
    color: #ffffff;
    border-bottom: none;
  }
  
  :deep(.pt-table .el-table th.el-table__cell.is-leaf) {
    margin-bottom: 2px;
    border-bottom: 1px #000 solid;
  }
  :deep(.pt-table .el-table__inner-wrapper:before) {
    content: none;
  }


  .pie-box {
    flex: 1;
      position: relative;
      .pie-legend {
        position: absolute;
        right: 40px;
        top: 15px;
        bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        > div {
          height: 36px;
          line-height: 36px;
          padding-left: 36px;
          background-size: cover;

          font-size: 16px;
          color: #ffffff;
        }
      }
  }