div {
    color: #ffffff;
}

.echartBox {
    height: 100%;
}

.bgcenter {
    background-size: cover;
    background: center center no-repeat;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.totel {
    text-align: right;
    height: 0px;
}

.num {
    font-size: 22px;
    color: aqua;
    padding-top: 16px;
}

.subbox {
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        flex: 1;
        line-height: 5px;
    }
}

.item-1 {
    .subtitle {
        width: 146px;
        height: 20px;
        padding: 20px;
        text-align: center;
    }
}


.item-2 {
    display: flex;
    padding: 0 20px;
    flex-direction: column;
    justify-content: center;

    .item-3 {
        display: flex;
        align-items: center;
    }
}

.item-6 {
    display: flex;
    padding: 0 10px;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
    .bgcenter {
        background: no-repeat;
        padding: 6px 11px 20px 60px;
        background-size: contain;
    }

    >div {
        flex: 1;
    }
}




.echarts2-legend {
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    >div {
        height: 36px;
        line-height: 36px;
        padding-left: 36px;
        background-size: cover;

        font-size: 16px;
        color: #ffffff;
    }
}

.center-box {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    flex: 1;
    margin: 0 15px;
    height: 100%;
}
.main {
    position: fixed;
    top: 80px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    display: flex;
    box-sizing: border-box;
}

.right-box {
    display: flex;
    flex-direction: column;
    width: 500px;

    >div {
        flex-basis: 33%;
        .right-box-item-content {
            flex: 1;
            position: relative;
        }
    }

    .subbox {
        height: 80px;

        p {
            line-height: 36px;
        }
    }
}

.left-box {
    // padding-bottom: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 500px;

    >div {
        flex-basis: 33%;
        .left-box-item-content {
            flex: 1;
            position: relative;
        }
    }

    .item-1 {
        padding: 10px;
        transform-origin: top;
    }
}


.last-item-item {
    width: 149px;
    height: 48px;
    padding-top: 5px;
    padding-left: 55px;
    box-sizing: border-box;
    > p{
        &:first-child {
            font-weight: 400;
            font-size: 10px;
        }
        &:last-child {
            font-weight: 500;
            font-size: 20px;
            color: #FFFFFF;
        }
    }
}